@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*Primary Colors*/
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /*Neutral Colors*/
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  background-color: var(--Very-Light-Gray);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

main {
  padding: 2.625rem;
}

/*FONTS WEIGHTS*/
.f200 {
  font-weight: 200;
}

.f400 {
  font-weight: 400;
}

.f600 {
  font-weight: 600;
}

h1 {
  font-size: 1.65rem;
  color: var(--Very-Dark-Blue);
}

p {
  color: var(--Grayish-Blue);
}

.text h1 {
  margin-block: 1.125rem;
}

.text p {
  margin-block-end: 3rem;
  text-align: center;
  font-size: 1rem;
}

.container>section {
  margin-block-end: 2rem;
}

.cards {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3.125rem -0.3125rem rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 3.125rem -0.3125rem rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 3.125rem -0.3125rem rgba(0, 0, 0, 0.45);
  border-radius: .5rem;
  padding: 1.75rem;
}

.cyanCards {
  border-top: .3rem var(--Cyan) solid;
}

.redCards {
  border-top: .3rem var(--Red) solid;
}

.orangeCards {
  border-top: .3rem var(--Orange) solid;
}

.blueCards {
  border-top: .3rem var(--Blue) solid;
}

.cards h2 {
  margin-bottom: .25rem;
}

.cards>div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  padding-block-start: 2rem;
}

/*-------------------*/

footer {
  margin-bottom: 2rem;
  padding: 0;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-------------------*/